.main {
    width: 100%;
    min-height: 100vh;

    /* Deja espacio para el navbar fijo */
    padding-top: 90px;

    background-image:
        linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
        url("/fondocelendin.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    text-align:center;
    color:white;
}

.hero h1{
    font-size:60px;
}

.hero p{
    font-size:22px;
    margin:20px 0;
}

.hero button{
    padding:15px 35px;
    border:none;
    border-radius:8px;
    background:#37e20c;
    color:white;
    font-size:18px;
    cursor:pointer;
}